h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
}

footer {
  display: block;
  margin: 0 auto;
  max-width: 720px;
  padding: 0 6px;
}

.active {
  color: #212529;
  cursor: default;
}

.app-card {
  margin: 20px auto 0;
  max-width: 720px;
}

.btn {
  width: 100%;
}

.btn-info {
  color: #fff;
}

.btn-info:hover {
  color: #fff;
}

.current-weather {
  margin: 20px auto;
}

.current-time,
.current-conditions,
.forecast {
  font-size: 20px;
}

.current-time,
.current-conditions {
  padding-left: 10px;
}

.current-conditions::first-letter {
  text-transform: capitalize;
}

.current-weather-icon {
  font-size: 90px;
  line-height: normal;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -28px;
}

div.col-sm-4.text-center {
  margin: 0;
  padding: 0;
}

#current-temperature {
  font-size: 90px;
  line-height: normal;
  position: relative;
  top: -18px;
}

.current-temperature-unit {
  font-size: 36px;
  position: relative;
  top: -55px;
}

.forecast {
  margin: 0 10px;
}

.humidity,
.wind {
  font-size: 16px;
}

.day {
  font-size: 24px;
}

.weather-icon {
  font-size: 70px;
}

.today {
  border: 1px solid rgba(209, 252, 252, 0.5);
  background: rgba(209, 252, 252, 0.5);
}

.future-day {
  border: none;
}
